* {
    padding: 0;
    margin: 0;
    font-family: Open Sans;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}
nav a {
    padding: 0 20px;
    line-height: 50px;
}

main {
    display: flex;
}
aside {
    width: 35%;
}
section {
    margin: 15px;
    padding: 10px;
}

ul {
    margin-top: 10px;
}

.section-title {
    text-transform: uppercase;
}

.container {
    display: flex;
    width: 1140px;
    margin: 0 auto;
}

.header-block {
    display: flex;
    margin-top: 15px;
    border-top: 5px solid #d3d3d3;
    border-bottom: 5px solid #d3d3d3;
    padding: 20px;
}
.header-block img {
    width: 200px;
    margin-left: 25px;
    border-radius: 50%;
}

.header-content {
    display: flex;
    align-items: center;
    margin-left: 100px;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav-list li a {
    color: #8a8a8a;
    transition: all 1s;
}

.nav-list li a:hover {
    text-decoration: underline;
}

.section-content {
    margin-top: 10px;
}

.contacts-list {
    list-style: none;
    margin-top: 15px;
}
.contacts_option {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;
}

.contacts_option a {
    color: #8a8a8a;
}

.contacts_option a:hover {
    text-decoration: underline;
}

.contacts_option::before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    top: 2px;
    left: 0;
    background-size: cover;
}
.contacts_option.mail::before {
    background-image: url(./assets/img/gmail.png);
}
.contacts_option.linkedin::before {
    background-image: url(./assets/img/linkedin.png);
}
.contacts_option.phone::before {
    background-image: url(./assets/img/phone.png);
}
.contacts_option.git::before {
    background-image: url(./assets/img/git.png);
}

.skills_list {
    margin-left: 25px;
}

.education_list {
    list-style: none;
}

.education_list li {
    position: relative;
    margin: 15px 0;
    padding-left: 30px;
}
.education_list li:before {
    position: absolute;
    display: block;
    content: "";
    background-image: url(./assets/img/education.png);
    background-size: cover;
    width: 15px;
    height: 15px;
    top: 2px;
    left: 5px;
}
.languages_list {
    list-style-position: inside;
}

.code_title {
    padding-bottom: 15px;
}

.code_block {
    display: block;
    padding: 20px 30px;
    background: #e6e6e6;
    color: #5e5e5e;
    border-radius: 10px;
}

footer {
    background: #d3d3d3;
    height: 50px;
}

footer .container {
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}

.footer_flex {
    display: flex;
    align-items: center;
}

.footer_flex img {
    margin-left: 10px;
}

@media (max-width: 900px) {
    .header-content,
    .header-content .nav-list {
        flex-wrap: wrap;
    }

    .header-content .nav-list {
        width: 60%;
    }

    main .container {
        flex-direction: column;
    }

    footer .container {
        width: 100%;
        justify-content: space-around;
    }
}

@media (max-width: 655px) {
    .header-block.container {
        width: 100%;
    }

    .header-block {
        flex-direction: column;
    }

    .header-block img {
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .header-content {
        margin: 0;
        flex-direction: column;
    }

    .header-content .nav-list {
        width: 100%;
    }
}
